<nav class="navbar sticky-top  navbar-expand-lg navbar-light bg-primary">
    <a [routerLink]="['/app-home']" class="navbar-brand ps-5"  style="color: white; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  "><img src="../../assets/logo (2).png" alt=""></a>
  
    
      <a [routerLink]="['/app-home']" class="  btn" style=" cursor: pointer; " ><i style="color: white; font-size: 21px; " class="fas fa-home "></i></a>
  
      
  </nav>
  <div  *ngIf="getCartDetails.length" class=" ms-3 mt-1 " >
  <div class=" col-sm-8    "   >
    <div  style=" height:50px;">
      <h5 class="ms-2 mt-2" style="justify-content: center;" ><i style="font-size: 20px;" class="fa fa-shopping-cart"></i> My Cart ({{getCartDetails.length}})</h5> 
    </div>
  
   <div>
      <div *ngFor="let getCartDetail of getCartDetails" style=" height:230px;" class="row col-sm-12 mb-5 " >
        <div class="col-3 " style=" padding-top: 25px;padding-left: 15px; width: 150px; "  >
        <img style="height: 100px; " [src]="adminservice.backendhost+getCartDetail.img.path" alt=""> 
        <div>
        <button class="btn border mt-4" style="border-radius: 50%;  "   (click)="decQnt(getCartDetail._id , getCartDetail.qnt )"><i  class="fa fa-minus" aria-hidden="true"></i></button>
        <span class="btn border mt-4 "><b>{{getCartDetail.qnt}}</b></span>
        <button class="btn border mt-4"  style="border-radius: 50%;" (click)="incQnt(getCartDetail._id , getCartDetail.qnt )"><i class="fa fa-plus" aria-hidden="true"></i></button>   
        </div></div>
        <div class="col-3">
        <a ><h5 style="padding-top: 25px;" >{{getCartDetail.prodname}}</h5></a>
        <p>Seller : {{getCartDetail.prodseller}}</p>
        <h4>₹{{getCartDetail.prodsellprice*getCartDetail.qnt}}</h4><h6 style="color: green; font-family: cursive; " ><del> MRP: ₹{{getCartDetail.prodmrp}}</del> </h6>
        
        </div> 
        <div class="col-3 ms-2 " style="padding-top: 25px;  height: 230px; " ><i style="color: red;" class="fas fa-shipping-fast"></i> Delivery in 2 days  <p style="color: green;" > Free <del>₹40</del>  </p>  
         <small> <b style=" color: gray;" >7 Days Replacement Policy</b> </small> <br><br>
         <a class="sremove " (click)="singleDelete(getCartDetail._id)" ><b>REMOVE</b></a> </div><br><hr>
      </div>
  
    </div>
  
    <div  class=" m-auto" style=" color: white;  height:70px;"  >
      <button [routerLink]="['/app-checkout']"  class="  col-11 btn btn-danger btn-lg ms-2 mt-3 " style="  color: white;"><b>PLACE ORDER</b> </button>
    </div>
  </div>
  <div  class="col-sm-12 ms-5 mt-2  " style=" font-size: 20px; height: 200px; " >
    <div style="color: red;" > <b>Price Details</b> 
  </div>
  <div><b>
    Price({{getCartDetails.length}} items ) : <span>₹{{total}}/-</span></b>
  </div>
  <div style="color:green" >
    Total savings = ₹{{this.totalsave}}/-
  
  </div>
  </div>
  </div>
  
  <div *ngIf="!getCartDetails.length" class=" mb-4 col-sm-4 container m-auto mt-5 ">  
  <img style="height: 250px; " src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
  <h4 style="margin-left: 70px;" >opps!! Your cart is empty </h4>
  <button class="btn btn-warning ms-5 col-9 "  [routerLink]="['/app-home']"><i style="font-size: 20px;  " class="fa fa-shopping-cart"></i><b> Shop Now </b> </button>
  
  </div>
  <app-footer></app-footer>

  
  
  
  
  
  
  
  