<div class="d-flex flex-column h-100">  
    <!-- FOOTER -->
    <footer class="w-100   flex-shrink-0">
        <div class="container py-3">
            <div class="row ">
                <div class="row">
                    <div class="col-3 ">
                    <h5 class="text-white mb-3">ABOUT</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a>ContactUs</a></li>
                        <li><a>AboutUs</a></li>
                        <li><a>Careers</a></li>
                    </ul>
                </div>
                <div class="col-3 ">
                    <h5 class="text-white mb-3">HELP</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a>Payments</a></li>
                        <li><a>Shipping</a></li>
                        <li><a>Cancelled</a></li>
                        <li><a>Returns</a></li>
                        <li><a>FAQ</a></li>
                    </ul>
                </div>
                <div class="col-4 ">
                    <h5 class="text-white mb-3">POLICY</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a>Return Policy</a></li>
                        <li><a>Terms of use</a></li>
                        <li><a>Security</a></li>
                        <li><a>Privacy</a></li>
                        <li><a>Sitemap</a></li>
                    </ul>
                </div>
                <div class="col-2 ">
                    <h5 class="text-white mb-3">SOCIAL</h5>
                    <ul class=" ms-4 list-unstyled text-muted">
                        <li ><a><i class="fab fa-facebook-f"></i></a></li>
                        <li><a> <i class="fab fa-linkedin"></i></a></li>
                        <li><a> <i class="fab fa-twitter"></i></a></li>
                        <li><a> <i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div></div>
                
             
            </div>
        </div>
        <div class="container text-center">
            <small style="color: white;" >Copyright &copy;NITeCart 2022 </small><br>
            <i style="color: rgb(3, 72, 234);" >Design & developed by <a href="">Prince Garg MME2020 </a></i>
          </div>
    </footer>
        
</div>