<nav class="navbar sticky-top  navbar-expand-lg navbar-light bg-primary">
    <a [routerLink]="['/app-home']" class="navbar-brand ps-5" href="#" style="color: white; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  "><img src="https://nitecartbackend.herokuapp.com/uploads/logo (2).png" alt=""></a>
    <form class="d-flex col-6 ">
      <input class="form-control" class="form-control col-7 " style="border-radius: 5px 0px 0px 5px ;" type="search" placeholder="Search products, brands or more" aria-label="Search">
      <button class="btn btn-light" style="border-radius: 0px 5px 5px 0px ; border: none;" type="submit"><i style="color: black;" class="fas fa-search"></i></button>&nbsp;
    </form>
  </nav>

  <h1>Wishlist works!</h1>
<app-footer></app-footer>
